.home h1{
    position: absolute;
    font-size: 60px;
    right: 10%;
    bottom: 295px;
}

.home p{
    position: absolute;
    font-weight: bold;
    right: 23%;
    bottom: 255px;
    font-size: 18px;
}

.home a img{
    width: 50px;
}

.home a img:hover{
    width: 60px;
    transition-duration: 1.0s;
}

span{
    color: brown;
}

.lj img{
    width: 330px;
    position: absolute;
    left: 15%;
    bottom: 10%;
    border-radius: 200px;
}

.about p{
    position: absolute;
    top: 150%;
    left: 5%;
    font-weight: bold;
    font-size: 18px;
}

.educational h1{
    text-align: center;
    font-size: 60px;
}

.table{
    position: absolute;
    top: 240%;
    left: 2%;
}

.baysap{
   display: flex;
   align-items: center;
   justify-self: center;
   position: relative;
   left: 5%;
  
   
   

}

form{
    width: 90%;
    max-width: 600px;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
    border-radius: 10px;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

button{
   padding: 10px 0;
   color: black;
   outline: none;
   border: 1px solid black;
   width: 623px;
   cursor: pointer;
   border-radius: 10px;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 14px;
}