
.pres{
    margin-left: 10%;
    margin-top: 20%;
}

.pres h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.pres p{
    color: black;
    line-height: 22px;
}

.pres a{
    background: black;
    padding: 10px  18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 88%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s left 1s;
}

.images:hover .shape{
    bottom: 40px;
    transition-duration: 1.5s;
}

.images:hover .lj{
    left: 45%;
    transition-duration: 1.5s;
}

.geto a img{
    width: 50px;
}

.geto a img:hover{
    width: 60px;
    transition-duration: 1.3s;
}

.gojo h1{
    position: absolute;
    letter-spacing: 4px;
    left: 16%;
    bottom: -90%;
    font-size: 150px;
    font-weight: bold;
}

.gojo p{
    font-size: 20px;
    position: absolute;
    left: 18%;
    bottom: -145%;
}

.gojo img{
    width: 280px;
    position: absolute;
    border-radius: 300px;
    left: 39%;
    bottom: -118%;
    border: 3px solid black;
}

.gojo h2{
    position: absolute;
    bottom: -90%;
    left: 20%;
}

.gojo .text{
    position: absolute;
    bottom: -90%;
    right: 20%;
    font-size: 23px;
}

.jjk h1{
    font-size: 70px;
    position: absolute;
    bottom: -190%;
    left: 14%;
}

.container img{
    height: 400px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card{
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.intro{
    height: 70px;
    width: 350px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: -257%;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
    transition-duration: 1.5s;
}

.int{
    height: 70px;
    width: 333px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: -257%;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
    transition-duration: 1.5s;
}


.container h1{
    margin: 10px;
    font-size: 40px;
}
.container p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.container span{
    font-weight: bold;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 220px;
    bottom: -257%;
    background: black;
}

.card:hover .int{
    height: 220px;
    bottom: -257%;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
    
}

.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}

.table h1{
    position: absolute;
    top: -14%;
    font-size: 70px;
    right: 235px;
}


.table{
    position: absolute;
    margin-bottom: -240%;
    right: 300px;

  
}